<div class="row">
  <div class="col-12">
    <label>
      <span class="data-label">
        Name
      </span>
      <input
        value="{{ selectedPlanet.name }}"
        placeholder="Name"
      />
    </label>
  </div>
  <div class="col-12">
    <label>
      <span class="data-label">
        Rotation Period
      </span>
      <input
        value="{{ selectedPlanet.rotation_period }}"
        placeholder="Name"
      />
    </label>
  </div>
  <div class="col-12">
    <label>
      <span class="data-label">
        Orbital Period
      </span>
      <input
        value="{{ selectedPlanet.orbital_period }}"
        placeholder="Name"
      />
    </label>
  </div>
  <div class="col-12">
    <label>
      <span class="data-label">
        Diameter
      </span>
      <input
        value="{{ selectedPlanet.diameter }}"
        placeholder="Name"
      />
    </label>
  </div>
  <div class="col-12">
    <label>
      <span class="data-label">
        Climate
      </span>
      <input
        value="{{ selectedPlanet.climate }}"
        placeholder="Name"
      />
    </label>
  </div>
  <div class="col-12">
    <label>
      <span class="data-label">
        Gravity
      </span>
      <input
        value="{{ selectedPlanet.gravity }}"
        placeholder="Name"
      />
    </label>
  </div>
  <div class="col-12">
    <label>
      <span class="data-label">
        Terrain
      </span>
      <input
        value="{{ selectedPlanet.terrain }}"
        placeholder="Name"
      />
    </label>
  </div>
  <div class="col-12">
    <label>
      <span class="data-label">
        Surface Water
      </span>
      <input
        value="{{ selectedPlanet.surface_water }}"
        placeholder="Name"
      />
    </label>
  </div>
  <div class="col-12">
    <label>
      <span class="data-label">
        Population
      </span>
      <input
        value="{{ selectedPlanet.population }}"
        placeholder="Name"
      />
    </label>
  </div>
</div>
